#email, #name {
    width: 400px;
}

#emailImg, #contactPic {
    width: 20%;
    height: 800px;
}

.footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    width:70px;
    height: 100px;
}

#bckground {
    height: 500px;
}

#linkdin {
    height: 25px;
    width: 25px;
}

#github {
    height: 30px;
}

.parallax {
    min-height: 100px;
}

#aboutPic1 {
    width: 25px;
    height: 800px;
}

#codePic {
    width: 25px;
    height: 800px;
}

#button {
    position: absolute;
    z-index: 7;
    left: 25px;
    top: 25px;
}

#modal1, #modal2 {
    position: absolute;
    z-index: 9;
}


